[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "/home/lams/.vim/bundle/gundo"]
	path = /home/lams/.vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "/home/lams/.vim/bundle/vcscommand"]
	path = /home/lams/.vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand
